<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="vue.js"></script>
    <title>Vue.js</title>
</head>

<body>
    <div id="app">
        <input type="text" v-model.lazy="nome">
        <input v-model.trim="email">

        <br>
        <input type="text" v-model.number="ano">

        <input type="checkbox" id="receberEmail" v-model="receberEmail">
        <label for="receberEmail">Receber email</label>
        {{receberEmail}}

        <p>Nome: {{nome}}</p>
        <p>Email: {{email}}</p>


        <div>
            <input type="radio" name="azul" id="azul" v-model="cor" value="Azul">
            <label for="azul">Azul</label>

            <input type="radio" name="vermelho" id="vermelho" v-model="cor" value="Vermelho">
            <label for="vermelho">Vermelho</label>

            <input type="radio" name="verde" id="verde" v-model="cor" value="Verde">
            <label for="verde">Verde</label>

            {{cor}}
        </div>

        <div>
            <select name="" id="" v-model="fruta">
                <option disabled value="">Selecione uma Fruta</option>
                <option value="banana">Banana</option>
                <option value="morango">morango</option>
                <option value="uva">uva</option>
            </select>

            {{fruta}}
        </div>
    </div>

    <script>
        const vm = new Vue({
            el: '#app',
            data: {
                nome: 'Breno',
                email: 'brenomiros@gmail.com',
                receberEmail: '',
                cor: '',
                fruta: '',
                ano: ''
            }

        });

    </script>


</body>

</html>